<!-- Header Section -->
<header class="header">
  <div class="container container--narrow">
    <a href="{{ url_for('projects') }}" class="header__logo">
      <img
        src="{{url_for('static', path='images/logo.svg')}}"
        alt="DevSearch Logo"
      />
    </a>
    <nav class="header__nav">
      <input type="checkbox" id="responsive-menu" />
      <label for="responsive-menu" class="toggle-menu">
        <span>Menu</span>
        <div class="toggle-menu__lines"></div>
      </label>
      <ul class="header__menu">
        <li class="header__menuItem">
          <a href="{{ url_for('profiles') }}">Developers</a>
        </li>
        <li class="header__menuItem">
          <a href="{{ url_for('projects') }}">Projects</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="header__menuItem">
          <a href="{{ url_for('account') }}">My Account</a>
        </li>
        <li class="header__menuItem">
          <a href="{{ url_for('inbox') }}">Inbox</a>
        </li>
        <li class="header__menuItem">
          <a href="{{ url_for('create-project') }}" class="btn btn--sub"
            >Add Project</a
          >
        </li>
        <li class="header__menuItem">
          <a href="{{ url_for('logout') }}" class="btn btn--sub">Logout</a>
        </li>
        {% else %}
        <li class="header__menuItem">
          <a href="{{ url_for('login-page') }}" class="btn btn--sub"
            >Login/Sign Up</a
          >
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <!-- Email Verification Prompt -->
  {% if profile and not profile.is_verified %}
  <div style="flex: 1; text-align: right; vertical-align: middle">
    <p
      style="
        color: #ff6b6b;
        font-weight: bold;
        display: inline-block;
        margin-right: 1rem;
        vertical-align: middle;
      "
    >
      Please verify your email!
    </p>
    <form
      method="get"
      action="{{ url_for('send-email') }}"
      style="display: inline-block; vertical-align: middle"
    >
      <input
        class="btn btn--sub btn--lg"
        type="submit"
        value="Send Verification Email"
        style="
          background-color: #007bff;
          color: #fff;
          padding: 0.5rem 1rem;
          border: none;
          cursor: pointer;
        "
      />
    </form>
  </div>
  {% endif %}
</header>
