{% extends 'main.html' %} {% block content %}

<!-- Main Section -->
<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <a class="backButton" href="{{ url_for('account')}}"
        ><i class="im im-angle-left">&lt;</i></a
      >
      <h3>Add New Skill</h3>
      <br />

      <form class="form" method="POST" action="">
        <input
          type="hidden"
          name="csrftoken"
          value="{{ request.scope.csrftoken() }}"
        />
        <div class="form__field">
          <label for="formInput#text">Name</label>
          <input
            type="text"
            class="input input--text"
            name="name"
            {%
            if
            skill
            %}
            value="{{skill.name}}"
            {%
            endif
            %}
          />
        </div>
        <div class="form__field">
          <label for="formInput#text">Description</label>
          <textarea type="text" class="input input--text" name="description">
            {% if skill and skill.description %}{{ skill.description }}{% endif %}</textarea
          >
        </div>

        <input
          class="btn btn--sub btn--lg my-md"
          type="submit"
          value="Submit"
        />
      </form>
    </div>
  </div>
</main>
{% endblock content %}
